{% set items = page.header.items %}

<section class="module-items {{ page.header.body_classes }}">
	<div class="px-6 md:px-8">
		<div class="container">
			{% if items %}
				<ul>
					{% for item in items %}
						<li>
							<div>
								Text:
								{{ item.text }}
							</div>
							<div>
								Link:
								{{ item.link }}
							</div>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>
</section>
